<table class="table table-striped">
  <thead>
  <tr>
      <th>No.</th>
    <th >Name</th>
    <th >Employee Id</th>
    <th >Department</th>
    <th >Email</th>
    <th >Date Of Joining</th>
    <th >Actions</th>
    
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of data; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
       {{ row.name }}
    </td>
    <td>
      {{ row.employeeId }}
   </td>
   <td>
    {{ row.department }}
 </td>
 <td>
  {{ row.email }}
</td>
<td>
  {{ row.date }}
</td>
    <td><fa-icon (click)="delete(i)" [icon]="faCoffee1"></fa-icon>
    </td>
    
  </tr>
  </tbody>
</table>