<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Employee</h4>
      <button type="button" class="close outline" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span class="red" *ngIf="submitted">Please fill all fileds</span>
      <form [formGroup]="employeedetail">
        <div class="form-group">
          <label for="name">Name</label>
           <input class="form-control"  formControlName="name" type="text" />
          
          </div>
          <div class="form-group">
            <label for="employeeId">Employee Id</label>
            <input  class="form-control"  formControlName="employeeId" type="text" />
            </div>
            <div class="form-group">
                <label for="department">Department</label>
         <select class="form-control"   formControlName="department">
             <option value="IT">IT</option>
             <option  value="Development">Development</option>
             <option  value="Sales">Sales</option>
             <option  value="Pre-Sales">Pre-Sales</option>
             <option  value="QA">QA</option>
         </select>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input  class="form-control"  formControlName="email" type="text" />
            </div>
            <div class="form-group">
              <label for="email">Date of joining</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
      
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="clear()">Clear</button>
      <button type="button" class="btn btn-outline-dark" (click)="submit()">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">New Employee</button>
  